<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="UcloudSetting" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <UcloudSetting>
        <!--用户公钥-->
        <add key="PublicKey" value="ucloudsomeone@example.com1296235120854146120" />
        <!--用户私钥-->
        <add key="PrivateKey" value="46f09bb9fab4f12dfc160dae12273d5332b5debe" />
        <!--API请求地址-->
        <add key="BaseUrl" value="https://api.ucloud.cn" />
    </UcloudSetting>
</configuration>